<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VENGENCE</title>

<link rel="stylesheet" type="text/css" href="./css/test1.css" />

<div class ="container">
    <div>
     Dan Heacock
    </div>

    <div>
     hcckdan@yahoo.com
    </div>
</div>

</head>
    <body>
    <div class="dropdown">
        <span>PROJECTS</span>
        <div class="dropdown-content">
          <p><li><a href="./html/projects.html">PROJECTS</a></li></p>
        </div>
      </div>

      <div class="dropdown">
        <span>SKILLS</span>
        <div class="dropdown-content">
          <p><li><a href="./html/skills.html">SKILLS</a></li></p>
        </div>
      </div>

      <div class="dropdown">
        <span>ABOUT ME</span>
        <div class="dropdown-content">
          <p><li><a href="./html/aboutMe.html">ABOUT ME</a></li></p>
        </div>
      </div>

      <div class="dropdown">
        <span>CONTACT ME</span>
        <div class="dropdown-content">
          <p><li><a href="./html/contactMe.html">CONTACT ME</a></li></p>
        </div>
      </div>




<div>
    <img class="vs1" src="img/danphoto.png" />
    </div>


    

    <div class ="intro">
        My Name is Daniel Heacock. I am an illustrator, whom has studied; animation, coding, photoshop, and a small amount of 3D modeling.
    </div>


    <button onclick="intruderAlertFunction()">Buttons aren't toys!</button>



<script src="./js/test1.js"></script>
</body>
</html>